<h2>This is the generals page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias obcaecati
  recusandae eveniet suscipit consequatur neque sit dicta ullam, quaerat ipsa
  earum a voluptas in illum omnis culpa sed blanditiis corporis. At in
  explicabo, laudantium fugit, non molestiae dolorem tenetur quia, perferendis
  dicta soluta officiis quidem praesentium dignissimos aspernatur aliquid neque
  temporibus porro quasi? Omnis suscipit aliquid veritatis error saepe placeat.
</p>
