<h2>This is the generals page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias obcaecati
  recusandae eveniet suscipit consequatur neque sit dicta ullam, quaerat ipsa
  earum a voluptas in illum omnis culpa sed blanditiis corporis.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga possimus
  suscipit similique atque eaque veniam consectetur rerum quibusdam laborum
  tempore repellat nobis labore perferendis ratione incidunt dignissimos
  molestiae, dolorem ipsum.
</p>
