<h2>Titles</h2>

<form name="form">
  <div class="row">
    <div class="col-10">
      <input
        class="form-control"
        type="text"
        (input)="onPokemontNameInputCgange($event)"
        [(ngModel)]="currentPokemonName"
        name="pokemonName"
      />
    </div>
    <div class="col-2">
      <button
        type="submit"
        (click)="onAddButtonCick()"
        [disabled]="!canClickBtn"
        class="btn btn-primary"
      >
        Add
      </button>
    </div>
  </div>
</form>

<div *ngIf="pokemonAdded; else noPokemon">{{ currentPokemonName }} added</div>

<ng-template #noPokemon> Nothing done yet ... </ng-template>

<ng-container *ngFor="let pokemon of pokemons; let i = index">
  {{ i }}
  <app-pokemon-item [name]="pokemon" ></app-pokemon-item>
</ng-container>
